.logout-btn{
  background-color: rgb(255, 55, 0);
  border-radius: 5px;
  border-style: hidden;
  padding: 5px 8px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  font-style:italic;
}